<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!--给所有在ACT_PlayVideo上面的Activity指定android:configChanges="keyboardHidden|orientation"，
              防止ACT_PlayVideo切换横竖屏时声明周期重建，频繁请求网络刷新页面-->
        <activity
            android:name=".ui.home.ACT_Home"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.test.TestMVPActivity" />
        <activity android:name=".ui.test.TestDaggerActivity" />
        <activity android:name=".ui.designer.ACT_DesignerList" />
        <activity android:name=".ui.common.ACT_CommonWebView" />
    </application>
</manifest>
