<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ui.ACT_Category"
            android:configChanges="keyboardHidden|orientation" />
        <!--给所有在ACT_PlayVideo上面的Activity指定android:configChanges="keyboardHidden|orientation"，
       防止ACT_PlayVideo切换横竖屏时声明周期重建，频繁请求网络刷新页面-->
        <activity
            android:name=".ui.ACT_CategoryDetail"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name=".ui.video.ACT_PlayVideo"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"/>
    </application>


</manifest>